@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-image: url("bg2.jpg");
    background-size: cover;
    

    font-family: 'Inter',Arial, Helvetica, sans-serif;
}


#userInput {
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    margin-top: 1rem;
    height: 70%;
    background-color: aliceblue;
    padding-left: 1rem;
   
  
}


.functions{
    margin: 1rem;
}
#buttons{
    display: flex;
    margin-top: 5px;
    
}
#buttons button{
    background-color: rgb(85, 143, 147);
   height: 60%;
   width: 2rem;
   border-radius: 5px;
   justify-self: center;
   /* border: 1px solid black; */
   
}
#request{
    display: flex;
    width: 50%;
    justify-content: center ;
    
   
}
#UI{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5vh;
    height: 100vh;
    align-items: center;
    width: 100%;
    
}
#output {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:black;
     opacity: 85%; 
    align-self: center; 
    width: 50%; 
    
  
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

#heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    color: black; 
    /* font-family:'Times New Roman', Times, serif; */
}
.task {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: black;
    border: none;
    border-radius: 5px;
    /* border: 1px solid #ddd; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-text {
    color: white;
    margin-left: 1rem;
  
    
}

.delete-btn {
     background-color: black; 
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    opacity: 75%;
    cursor: pointer;
     font-size: 1rem; 
    
}

.delete-btn:hover {
    opacity: 100%;
}