@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F7F8;
    height: 100vh;
    margin: 0; 
    background-image: url("bg.jpg");
    background-size: cover;
    

    font-family: 'Inter',Arial, Helvetica, sans-serif;
}


#userInput {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
}


.functions{
    margin: 1rem;
}
#buttons{
    display: flex;
}
#buttons button{
    background-color: #FCDE70;
   height: 2rem;
   width: 2rem;
   border-radius: 100%;
}
#request{
    display: flex;
    width: 80%;
    
    
  

}
#UI{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5vh;
    height: 100vh;
    align-items: center;
    width: 100%;
    
}
#output {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:black;
    opacity: 50%;
    align-self: center; 
    width: 80%; 
    
  
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

#heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    color: aliceblue; 
    /* font-family:'Times New Roman', Times, serif; */
}
.task {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: #F0F8FF;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-text {
    color: black;
    margin-left: 1rem;
 
}

.delete-btn {
     background-color: #F0F8FF; 
    border: none;
    color: black;
    padding: 5px 10px;
    margin-left: 10px;
    opacity: 75%;
    cursor: pointer;
}

.delete-btn:hover {
    opacity: 100%;
}